/* CSS for site preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
}

.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background:#00F2B8;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2;
  }

  100% {
    box-shadow: 0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2,
            -70px 90px 0 rgba(0, 0, 0, 0);
  }
}

html{
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
}

html::-webkit-scrollbar {
  display: none;
}

body {
    font-family: 'Montserrat';
    background-color: #212121;
    color:white;
  }

  .start_land{
    margin-top:0;
    width: 99%;
    height:fit-content;
  }
  
  /* Reset default styles for the navbar */
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #212121;
      padding-left: 2em;
  }
    
    /* Style the logo image */
    .logo img {
      height: 30px;
      width: auto;
      padding:0em 2em;
    }
    
    /* Style the navigation links */
    .nav-links li {
      display: inline-block;
      margin-right: 10px;
    }
    
    .nav-links li a {
      text-decoration: none;
      color: white;
      padding: 1em 1.5em;
      font-size: 1.4em;
    }
    
    .nav-links li a:hover {
      color: #00F2B8;
      transition: linear 0.2s;
    }
  
    .login{
      margin-right: 1em;
    }
    /* Style the login button */
    .login a {
      text-decoration: none;
      color: white;
      padding: 8px 12px;
      background-color: transparent;
      border: 1px solid #00F2B8;
      border-radius: 4px;
    }
    
    .login a:hover {
      transition: linear 0.2s;
      background-color: #00f2ba48;
      color: white;
    }
    
    /* Responsive styles for smaller screens */
    @media only screen and (max-width: 600px) {
      .navbar {
        flex-direction: column;
        align-items: flex-start;
      }
      
      .nav-links {
        margin-top: 10px;
      }
      
      .login {
        margin-top: 10px;
      }
    }
  

  
  label {
    display: block;
    margin-bottom: 1.2em;
    font-size:1.5em;
    font-weight: 450;
    color: #00F2B8;
    margin-left: 10%;
  }
  
  input[type="text"] {
    width: 60%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 2em;
    margin-left: 11%;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
  }

  input[type="text"]:hover {
    transition: linear 0.2s;
    border-bottom: 1px solid #00F2B8;
  }

  
  #search-button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 450;
    color: #ffffff;
    border: 1px solid #00F2B8;
    background-color: transparent;
    cursor: pointer;
    background-color: #00f2ba48;
    border-radius: 4px;
    margin: 0 auto;
    margin-left: 30%;
  }

  #clear-button{
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 450;
    color: #ffffff;
    border: 1px solid #00F2B8;
    background-color: transparent;
    cursor: pointer;
    background-color: #00f2ba48;
    border-radius: 4px;
    margin: 0 auto;
    margin-left: 5%;
  }

  #search-button:hover{
    background-color: transparent;
    color: #00F2B8;
    transition: linear 0.2s;
  }

  #clear-button:hover{
    background-color: transparent;
    color: #00F2B8;
    transition: linear 0.2s;
  }

  .title-search {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: #00F2B8;
    font-family: 'Montserrat';
    margin-bottom: 1em;
    margin-top: 0em;
  }
  
  .search-results {
    margin-top: 20px;
  }
  
  .student-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .container{
    max-width: 30%;
    height: fit-content;
    padding: 2em;
    margin: 0 auto;
    margin-top:1.4em;
    align-items: center;
    background-color: #161616;
    border-radius: 10px;
  }

  .search-results{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0 auto;
    margin-left: 8%;
  }

  .student-card{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    background-color: #161616;
    border-radius: 10px;
    color: #00F2B8;
    flex-basis: 33.333%;
  }

  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#00F2B8;
    height: 4em;
    font-weight: 400;
    margin: 0 auto;
    margin-top:17%;
  }