body {
    font-family: 'Montserrat';
    background-color: #212121;
    color:white;
  }

  .start_land{
    margin-top:0;
    width: 99%;
    height:fit-content;
  }
  
  /* Reset default styles for the navbar */
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #212121;
      padding-left: 2em;
  }
    
    /* Style the logo image */
    .logo img {
      height: 30px;
      width: auto;
      padding:0em 2em;
    }
    
    /* Style the navigation links */
    .nav-links li {
      display: inline-block;
      margin-right: 10px;
    }
    
    .nav-links li a {
      text-decoration: none;
      color: white;
      padding: 1em 1.5em;
      font-size: 1.4em;
    }
    
    .nav-links li a:hover {
      color: #00F2B8;
      transition: linear 0.2s;
    }
  
    .login{
      margin-right: 1em;
    }
    /* Style the login button */
    .login a {
      text-decoration: none;
      color: white;
      padding: 8px 12px;
      background-color: transparent;
      border: 1px solid #00F2B8;
      border-radius: 4px;
    }
    
    .login a:hover {
      transition: linear 0.2s;
      background-color: #00f2ba48;
      color: white;
    }
    
    /* Responsive styles for smaller screens */
    @media only screen and (max-width: 600px) {
      .navbar {
        flex-direction: column;
        align-items: flex-start;
      }
      
      .nav-links {
        margin-top: 10px;
      }
      
      .login {
        margin-top: 10px;
      }
    }
  

  
  label {
    display: block;
    margin-bottom: 1.2em;
    font-size:1.5em;
    font-weight: 450;
    color: #00F2B8;
    margin-left: 10%;
  }
  
  input[type="text"] {
    width: 60%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 2em;
    margin-left: 11%;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
  }

  input[type="text"]:hover {
    transition: linear 0.2s;
    border-bottom: 1px solid #00F2B8;
  }

  
  #search-button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 450;
    color: #ffffff;
    border: 1px solid #00F2B8;
    background-color: transparent;
    cursor: pointer;
    background-color: #00f2ba48;
    border-radius: 4px;
    margin: 0 auto;
    margin-left: 30%;
  }

  #clear-button{
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 450;
    color: #ffffff;
    border: 1px solid #00F2B8;
    background-color: transparent;
    cursor: pointer;
    background-color: #00f2ba48;
    border-radius: 4px;
    margin: 0 auto;
    margin-left: 5%;
  }

  #search-button:hover{
    background-color: transparent;
    color: #00F2B8;
    transition: linear 0.2s;
  }

  #clear-button:hover{
    background-color: transparent;
    color: #00F2B8;
    transition: linear 0.2s;
  }

  .title-search {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: #00F2B8;
    font-family: 'Montserrat';
    margin-bottom: 1em;
    margin-top: 0em;
  }
  
  .search-results {
    margin-top: 20px;
  }
  
  .student-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .container{
    max-width: 30%;
    height: fit-content;
    padding: 2em;
    margin: 0 auto;
    margin-top:1.4em;
    align-items: center;
    background-color: #161616;
    border-radius: 10px;
  }

  .search-results{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0 auto;
    margin-left: 8%;
  }

  .student-card{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    background-color: #161616;
    border-radius: 10px;
    color: #00F2B8;
    flex-basis: 33.333%;
  }